#Header {
    width: 100%;
    height: 120px;
    display: flex;
    background-color: #9CA986;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: fixed;
    z-index: 1000;
}

.headerchildone {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerchildtwo {
    width: 56%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerchildthree {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logodiv {
    width: 160px;
    height: 110px;
    object-fit: cover;
}

.Logoimg {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.headerchildtwo a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all .7s;
    position: relative;
}

.headerchildtwo a::after {
    content: "";
    position: absolute;
    background-color: #5F6F65;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: all .7s;
}

.headerchildtwo a:hover::after {
    width: 100%;
}

.headerchildtwo a:hover {
    color: #5F6F65;
    font-size: 20px;
}

.lightmodediv {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: white;
    transition: all .7s;
}

.darkmode {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: #5F6F65;
    transition: all .7s;

}

.innerdarkmodecircle {
    background-color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: all .7s;
    margin-left: 31px;
}

.innerdarkmodecircle:hover {
    background-color: #C9DABF;
}

.innerlightmodecircle {
    background-color: #808D7C;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: all .7s;
}

.innerlightmodecircle:hover {
    background-color: #5F6F65;
}
.overlaysidebar{
    display: none;
}
.sidebar{
    display: none;
}


@media screen and (min-width: 767px) {
    .headerchildmenulink {
        display: none;
    }
}


@media screen and (max-width: 991px) and (min-width: 767px) {
    .headerchildtwo a {
        font-size: 15px;
    }

    .headerchildtwo a:hover {
        font-size: 17px;
    }

    .logodiv {
        width: 120px;
        height: 84px;
    }

    .lightmodediv {
        width: 54px;
        height: 22px;
    }

    .innerlightmodecircle {
        width: 18px;
        height: 18px;
    }

    .darkmode {
        width: 54px;
        height: 22px;
    }

    .innerdarkmodecircle {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width:767px) {
    .headerchildtwo {
        display: none;
    }

    .headerchildone {
        width: 50%;
        justify-content: flex-start;
        gap: 20px;
        margin-left: 60px;
    }

    .headerchildthree {
        width: 50%;
        justify-content: flex-end;
        gap: 20px;
        margin-right: 20px;
    }

    .lightmodediv {
        width: 54px;
        height: 22px;
    }

    .innerlightmodecircle {
        width: 18px;
        height: 18px;
    }

    .darkmode {
        width: 54px;
        height: 22px;
    }

    .innerdarkmodecircle {
        width: 18px;
        height: 18px;
    }

    .logodiv {
        width: 120px;
        height: 84px;
    }

    .headerchildmenulink {
        display: block;
        position: absolute;
        top: 38px;
        left: 34px;
        font-size: 24px;
        color: #808D7C;
        transition: all .7s;
    }

    .headerchildmenulink:hover {
        color: #5F6F65;
    }

    .overlaysidebar {
        display: block;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.1;
        pointer-events: none;
        transition: .3s ease;
        backdrop-filter: blur(10px);
        z-index: 1000;
    }

    .sidebar {
        position: fixed;
        top: 124px;
        background-color: #9CA986;
        height: 100%;
        width: 250px;
        z-index: 1001;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .sidebardiv{
        height: 46px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sidebaratag{
        width: 120px;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: white;
        position: relative;
        transition: all .7s;
    }

    .sidebaratag:hover{
        .sidebaricon{
        font-size: 16px;
        color: #5F6F65;
        }
        p{
        font-size: 16px;
        color: #5F6F65;
        }
    }

    
    .sidebaricon{
        font-size: 15px;
        width: 30%;
        justify-content: start;
        position: relative;
        top: -1px;
        transition: all .7s;
    }
    .sidebaratag p{
        font-size: 15px;
        width: 70%;
        transition: all .7s;

    }
}

@media screen and (max-width: 575px) {
    .logodiv {
        width: 80px;
        height: 84px;
    }

    .lightmodediv {
        width: 46px;
        height: 20px;
    }

    .innerlightmodecircle {
        width: 16px;
        height: 16px;
    }

    .darkmode {
        width: 46px;
        height: 20px;
    }

    .innerdarkmodecircle {
        width: 16px;
        height: 16px;
        margin-left: 25px;
    }

    .headerchildmenulink {
        font-size: 20px;
        top: 22px;
    }

    #Header{
        height: 80px;
    }

    .sidebar{
        width: 200px;
        top: 83px;
    }
}