#Header {
    width: 100%;
    height: 120px;
    display: flex;
    background-color: #9CA986;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.headerchildone {
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerchildtwo {
    width: 56%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.headerchildthree {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logodiv {
    width: 200px;
    height: 110px;
    object-fit: cover;
}

.Logoimg {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.headerchildtwo a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all .7s;
    position: relative;
}

.headerchildtwo a::after{
    content: "";
    position: absolute;
    background-color: #5F6F65;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -3px;
    transition: all .7s;
}

.headerchildtwo a:hover::after{
    width: 100%;
}

.headerchildtwo a:hover{
    color: #5F6F65;
    font-size: 20px;
}

.lightmodediv {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: white;
    transition: all .7s;
}

.innerlightmodecircle {
    background-color: #808D7C;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: all .7s;
}

.lightmodediv:hover{
    .innerlightmodecircle{
        background-color: #5F6F65;
    }
}