.Buttondiv {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #808D7C;
    color: white;
    border-color: #808D7C;
    border-radius: 5px;
    min-width: 8ch;
    max-width: 35ch;
    transition: all .7s;
    cursor: pointer;
}

.Buttondiv:hover {

    box-shadow: inset 0px 70px 0px 0px #5F6F65;
    background-color: #808D7C;
    border-color: #5F6F65;

}

@media screen and (max-width: 991px) and (min-width: 767px) {
    .Buttondiv {
        padding: 6px 16px;
        font-size: 12px;
    }


}

@media screen and (max-width: 767px) {
    .Buttondiv {
        padding: 6px 16px;
        font-size: 12px;
    }
}

@media screen and (max-width: 575px) {
    .Buttondiv {
        padding: 5px 12px;
        font-size: 10px;
    }
}