.Buttondiv {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #808D7C;
    color: white;
    border-color: #808D7C;
    border-radius: 5px;
    min-width: 8ch;
    max-width: 35ch;
    transition: all .7s;
    cursor: pointer;
}

.Buttondiv:hover{
    background-color: #5F6F65;
    border-color: #5F6F65;

}