.Buttondiv {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(0, 129, 0);
    color: white;
    border-color: rgb(0, 129, 0);
    border-radius: 5px;
    min-width: 8ch;
    max-width: 35ch;
}